Each time you damage a creature with a melee attack, an Unarmed Strike or a cantrip, you can do an additional 2 points Force Damage per Transformation Stage.

Each time you roll a Hit Point Die to regain Hit Points during a Short Rest, you regain 2 Hit Points fewer per Hit Die.