Once per Long Rest, when a creature you can see within 60 feet of you targets you with an attack, you can force that creature to make a DC {{proficiency+12}} Charisma saving throw. On a failed save, the creature has the Charmed condition until the start of its next turn, and you choose a new target for the attack that you can see within the range of the triggering attack. On a successful save, the attack is made with Disadvantage.