As a Bonus Action, you magically gain the following benefits for 1 minute or until you end them (no action required). You can use this feature {{proficiency#unsigned}} times, and you regain all expended uses of it when you finish a Long Rest.

<strong>Giant Sized.</strong> If you are smaller than Large, you become Large, along with anything you are wearing. If you lack the room to become Large, your size doesn’t change.
<strong>Giant’s Strength.</strong> You have advantage on Strength checks and Strength saving throws.
<strong>Gigantic Force.</strong> Once per turn, when you hit with an attack using a weapon or an Unarmed Strike, you can deal an extra {{scalevalue}} damage to the target.