You have Advantage on Charisma ([skill]Intimidation[/skill]) checks.

As a Bonus Action, you can manifest your frightful presence. Each creature of your choice that is within 120 feet of you and aware of you must make a Wisdom saving throw (DC {{savedc:cha}}) or have the [condition]Frightened[/condition] condition for 1 minute. The creature can repeat the saving throw at the end of each of its turns, ending the effect on itself on a success. You can use this ability {{proficiency#unsigned}} times, and you regain all expended uses when you finish a Long Rest.