<strong>Gem Dragon Reslience.</strong> You have resistance to Psychic damage.

<strong>Telekinetic.</strong> You always have the [spells]Telekinesis[/spells] spell prepared. You can cast it once without a spell slot, and you regain the ability to cast it in that way when you finish a Long Rest. You can also cast the spell using any spell slots you have. Intelligence, Wisdom, or Charisma is your spellcasting ability when you cast the spell with this gift (choose when you gain the gift).