As a Magic action, enormous spectral tentacles grab you and up to 5 creatures of your choice that you can see within 30 feet of you and move each creature to an unoccupied space of your choice that you can see within 120 feet of its starting position. The tentacles then disappear. Unwilling creatures can make a DC {{savedc:cha}} Strength saving throw to avoid being moved.

Once you use this feature, you can't use it again until you finish a Short or Long Rest.