As a Bonus Action, you force one creature that you can see within 60 feet of you to succeed on a Wisdom saving throw (DC {{8+proficiency+2#unsigned}}) or be branded for 1 minute. Choose one of the following effects:

- The creature takes a -2 penalty on all Saving Throws.
- The first attack against the creature on each turn is made with Advantage.
- The creature cannot regain Hit Points.

You can use this ability a {{proficiency#unsigned}} times, and you regain all uses when you finish a Long Rest.