You may switch between your active Gift of Damnation at the end of a Short or Long Rest. In addition, when you switch Gifts of Damnation, you gain Temporary Hit Points equal to 5 times your Transformation Stage.