You can cast Evard’s black tentacles once without a spell slot, and you regain the ability to do so when you finish a Long Rest.

When you cast this spell, it does not require Concentration, but ends early if you have the Incapacitated condition or die.