When you gain this feature, roll <strong>3d4</strong>. You grow a number of inches in height equal to the roll.

While your Giant’s Might feature  is active, the additional damage from Gigantic Force is no longer limited to one attack per turn.