You have Resistance to Poison damage and Advantage on saving throws you make to avoid or end the Poisoned condition.

You can invoke the Rune as a Bonus Action, gaining Resistance to Bludgeoning, Piercing, and Slashing damage for 1 minute.