You know {{scalevalue}} Runes of your choice, and each time you gain a level in this class, you can replace one Rune you know with a different one from this feature.

If a Rune requires a saving throw, the DC equals {{(8+modifier:con+proficiency)#unsigned}} (8 + CON + Proficiency Bonus).