While your Giant&rsquo;s Might feature is active, you gain the following benefits:

<strong>Titanic Force.</strong> The extra damage you deal with Gigantic Force increases to 1d10.
<strong>Titan Sized.</strong> Your size can increase to Huge. When you do, your reach increases by 5 feet for the duration.