When another creature you can see within 60 ft. of you is hit by an attack roll, you can take a Reaction to force the attacker to reroll the d20 and use the new roll.
You can use this feature {{proficiency#unsigned}} times, and you regain all expended uses when you finish a Long Rest.