You have Advantage on INT (Arcana) checks, and you can&rsquo;t be Surprised as long as you don&rsquo;t have the Incapacitated condition.

You can invoke the Rune as a Bonus Action to enter a prophetic state for 1 minute or until have the Incapacitated condition. Until the state ends, when you or another creature you can see within 60 ft. of you makes an attack roll, a saving throw, or an ability check, you can take a Reaction to cause the roll to have Advantage or Disadvantage.