<strong>Dragon’s Speech.</strong> You can speak, read, and write Draconic.

<strong>Dragon’s Voice.</strong> As a Bonus Action, you can make your voice audible up to 300 feet away for 1 minute.

<strong>Dragon’s Wiles.</strong> You have Advantage on Charisma (Persuasion) checks.