When a creature within 5 ft. that you can see hits you with an attack, you can force the creature to make a DEX saving throw (DC {{savedc:wis}}) or take 1d8 + {{classlevel}} Lightning or Thunder damage (your choice), half damage on success. You can use this feature {{modifier:wis@min:1#unsigned}} times per Long Rest.