Once on each of your turns, you can choose one creature you have just damaged with a weapon attack, an Unarmed Strike, or a cantrip and deal an extra 1d6 Fire damage to that creature. You can add this damage {{proficiency+1}} times per Short or Long Rest, but no more than once per damage roll.